.#{$namespace}w1 { width: $space-2; }
.#{$namespace}w2 { width: $space-2 * 2; }
.#{$namespace}w3 { width: $space-2 * 3; }
.#{$namespace}w4 { width: $space-2 * 4; }
.#{$namespace}w5 { width: $space-2 * 5; }
.#{$namespace}w6 { width: $space-2 * 6; }
.#{$namespace}w7 { width: $space-2 * 7; }
.#{$namespace}w8 { width: $space-2 * 8; }
.#{$namespace}w9 { width: $space-2 * 9; }
.#{$namespace}w10 { width: $space-2 * 10; }

.#{$namespace}h1 { height: $space-2; }
.#{$namespace}h2 { height: $space-2 * 2; }
.#{$namespace}h3 { height: $space-2 * 3; }
.#{$namespace}h4 { height: $space-2 * 4; }
.#{$namespace}h5 { height: $space-2 * 5; }
.#{$namespace}h6 { height: $space-2 * 6; }
.#{$namespace}h7 { height: $space-2 * 7; }
.#{$namespace}h8 { height: $space-2 * 8; }
.#{$namespace}h9 { height: $space-2 * 9; }
.#{$namespace}h10 { height: $space-2 * 10; }
